body {
  padding-top: 130px;
  padding-bottom: 40px;
  background-color: #eee;
}

.item {
  width: 370px;
  height: 550px;
}

.item-info {
  width: 370px;
  height: 550px;
}
.column { 
  float: left; 
}

.third { 
  width: auto; 
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}